<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
        "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.persistence.ApplyMapper">


	<resultMap type="com.example.domain.RegistCourseInfo" id="RegistCourseInfoResultMap">
		<result property="no" column="no"/>
		<result property="name" column="name"/>
		<result property="thedate" column="thedate"/>
		<result property="start" column="start"/>
		<result property="end" column="end"/>
		<result property="extra" column="extra"/>
	</resultMap>

	<select id="getApplyList" resultMap="RegistCourseInfoResultMap" >
		SELECT c.course_no no, c.course_name name, c.the_date thedate, c.start_time start, c.end_time end, c.capacity-(IFNULL(COUNT(ca.course_no),0)) extra
		FROM course c
		LEFT JOIN course_apply ca
		ON c.course_no = ca.course_no
		WHERE c.the_date > NOW()
		GROUP BY c.course_no
		ORDER BY c.the_date ASC
		LIMIT 5;
	</select>
	
	
	<insert id="insertApplication">
		INSERT INTO application(id, name, furigana, mail, sex, birthday, tel, remarks, inp_date) 
		VALUES(0, #{name}, #{furigana}, #{mail}, #{sex}, #{birthday}, #{tel}, #{remarks}, CURRENT_DATE())
		<if test="birthday"></if>
	</insert>
	
	<insert id="insertCourseApply" parameterType="com.example.domain.CourseApply">
		<selectKey keyProperty="idApplication" resultType="String" order="BEFORE">
			SELECT a1.id 
			FROM application a1 
			WHERE a1.inp_date = (SELECT a2.inp_date 
								FROM application a2 
								WHERE a2.name = a1.name 
								ORDER BY a2.id DESC 
								LIMIT 1) 
			ORDER BY a1.id DESC 
			LIMIT 1;
		</selectKey>
		INSERT INTO course_apply(id, id_application, course_no, inp_date) VALUES 
		<foreach collection="courseNo" item="num" index="index" separator=",">
       		(0, #{idApplication}, #{num}, CURRENT_DATE())
    	</foreach>
	</insert>
	
</mapper>