<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
        "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.persistence.CourseInfoMapper">

	<insert id="insert">
		INSERT INTO course(course_no, course_name, the_date, start_time, end_time, capacity, inp_date) 
		VALUES(#{courseNo}, #{courseName}, #{theDate}, #{startTime}, #{endTime}, #{capacity}, CURRENT_DATE())
	</insert>
    
    <select id="nocheck" resultType="com.example.domain.CourseInfo">
    	SELECT * FROM course WHERE course_no = #{courseNo}
    </select>

</mapper>