<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
        "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.persistence.CourseInfoMapper">

	<insert id="insert">
		INSERT INTO course(course_no, course_name, the_date, start_time, end_time, capacity, inp_date) 
		VALUES(#{courseNo}, #{courseName}, #{theDate}, #{startTime}, #{endTime}, #{capacity}, CURRENT_DATE())
	</insert>
    
    <select id="nocheck" resultType="com.example.domain.CourseInfo">
    	SELECT * FROM course WHERE course_no = #{courseNo}
    </select>
    
    <resultMap type="com.example.domain.CourseInfo" id="cList">
    	<result property="courseNo" column="course_no"/>
    	<result property="courseName" column="course_name"/>
    	<result property="theDate" column="the_date"/>
    	<result property="startTime" column="start_time"/>
    	<result property="endTime" column="end_time"/>
    	<result property="capacity" column="capacity"/>
    </resultMap>
    
    <select id="getList" resultMap="cList" parameterType="com.example.web.form.SearchCourseForm">
    	<bind name="namelike" value="'%' + courseName + '%'"/>
    	SELECT * FROM course
    	<where>
    		<if test="courseNo != ''">
    			course_no = #{courseNo}
    		</if>
    		<if test="courseName != ''">
    			AND course_name LIKE #{namelike}
    		</if>
    		<if test="year != ''">
    			AND YEAR(the_date) = #{year}
    		</if>
    		<if test="month != ''">
    			AND MONTH(the_date) = #{month}
    		</if>
    		<if test="day != ''">
    			AND DAY(the_date) = #{day}
    		</if>
    		<if test="startHour != ''">
    			AND HOUR(start_time) = #{startHour}
    		</if>
    		<if test="startMinute != ''">
    			AND MINUTE(start_time) = #{startMinute}
    		</if>
    		<if test="endHour != ''">
    			AND HOUR(end_time) = #{endHour}
    		</if>
    		<if test="endMinute != ''">
    			AND MINUTE(end_time) = #{endMinute}
    		</if>
    		<if test="capacity != ''">
    			AND capacity = #{capacity}
    		</if>
    		<if test="status != ''">
    			<if test="status == 'complete'">
    				<![CDATA[ AND the_date < CURDATE() ]]>
    			</if>
    			<if test="status == 'ongoing'">
    				<![CDATA[ AND the_date = CURDATE() ]]>
    			</if>
    			<if test="status == 'ready'">
    				<![CDATA[ AND the_date > CURDATE() ]]>
    			</if>
    		</if>
    	</where>
    	ORDER BY course_no ASC, course_name ASC, the_date ASC
    </select>
    
    <delete id="deleteApply">
		DELETE FROM course_apply WHERE course_no = #{courseNo}
    </delete>
    
    <delete id="deleteCourse">
    	DELETE FROM course WHERE course_no = #{courseNo}
    </delete>

</mapper>