<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<title>ログイン</title>
</head>
<body>
<div class="container-fluid">
	<header class="row justify-content-center">
		<div class="row">
			<h1>ログイン</h1>
		</div>
	</header>
	<div id="errbox" th:if="${#fields.hasErrors('${userForm.*}')}" class="row justify-content-center">
    		<p th:errors="${userForm.*}" class="error-message">error！</p>
	</div>
	<section class="row justify-content-center">
		<form th:action="@{/login-check}" method="post" th:object="${userForm}">
		<div class="row">
			<span>ユーザID</span>
			<input type="text" th:field="*{userId}">
		</div>
		<div class="row">
			<span>パスワード</span>
			<input type="password" th:field="*{passwd}">
		</div>
		<div class="row">
		<button type="submit" class="btn btn-primary">login</button>
		</div>
		</form>
	</section>
	<section class="row justify-content-center">
		<h4>初めての方はユーザ登録をしてください。</h4>
		<div class="row">
		<button type="button" onclick="location.href='/signup'" class="btn btn-primary">ユーザ登録</button>
		</div>
	</section>
</div>
</body>
</html>